{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}
    <div>
        <a href="{{ BASE  }}user/auctions">
            <i class="fa fa-list"></i>List my auctions
        </a>
    </div>
{% endspaceless %}
{% endblock %}