{% extends "_global/index.html" %}

{% block main %}
    <div>
        <div class="options">
            <a href="{{ BASE }}user/auctions/">List my auctions</a>
        </div>

        <form method="POST" class="auction-form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required class="form-control" value="{{ auction.title }}">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description"  required class="form-control">{{ auction.description }}</textarea>
            </div>

            <div class="form-group">
                <label for="starting_price">Starting price:</label>
                <input type="number" id="starting_price" name="starting_price" required class="form-control" min="0.01" step="0.01" value="{{ auction.starting_price }}">
            </div>

            <div class="form-group">
                <label for="starts_at">Starts at:</label>
                <input type="datetime-local" id="starts_at" name="starts_at" required class="form-control" value="{{ auction.starts_at }}">
            </div>

            <div class="form-group">
                <label for="ends_at">Ends at:</label>
                <input type="datetime-local" id="ends_at" name="ends_at" required class="form-control" value="{{ auction.ends_at }}">
            </div>

            <div class="form-group">
                <label for="category_id">Auction category:</label>
                <select class="form-control" id="category_id" name="category_id">
                    {% for category in categories %}
                    <option value="{{ category.category_id }}" {% if auction.category_id == category.category_id %} selected {% endif %}>
                        {{ category.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" id="image" name="image"  class="form-control" accept="image/jpeg">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-plus"></i>Edit auction
                </button>
            </div>
        </form>
    </div>
{% endblock %}