{% extends "_global/index.html" %}

{% block main %}
    <div>
        <div class="options">
            <a href="{{ BASE }}user/auctions/">List all auctions</a>
        </div>

        <p>{{ message|escape }}</p>
    </div>
{% endblock %}