{% extends "_global/index.html" %}

{% block main %}
{% spaceless %}
    <div class="row">
        {% for category in categories %}
            <div class="card col-12 col-sm-6 col-md-4 col-lg-3 cols-xl-2 text-center category">
                <div class="card-body">
                    <a href="{{ BASE }}category/{{ category.category_id }}" class="card-title">
                        {{ category.name|escape|title }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}