{% extends "_global/index.html" %}

{% block main %}
    <div>
        <div class="options">
            <a href="{{ BASE }}user/categories/">List all categories</a>
        </div>

        <form method="POST" class="category-form">
            <div>
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>

            <div>
                <button type="submit">
                    Add category
                </button>
            </div>
        </form>
    </div>
{% endblock %}