<!doctype html>
<html>
    <head>
        <title>Ta&amp;Ta - {% block naslov %}Pocetna{% endblock %}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/main.css">
    </head>
    <body>
        <div class="container">
        <header>
            <div class="row">
                <div class="col col-sm">
                    <a href="/">
                        <img src="{{ BASE }}/assets/img/banner-1.jpg" alt="Banner 1">
                    </a>
                </div>
                <div class="col col-sm ">
                    <div class="social-icons text-right">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-youtube-square"></i></a>
                        <a href="#"><i class="fab fa-google-plus-square"></i></a>
                    </div>
                    
                    <div class="search-box float-right">
                        <form method="POST" action="{{ BASE }}search">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" name="q" placeholder="Kljucne reci pretrage" class="form-control" required pattern="[^\s]{2,}">
                                    <button type="submit" class="btn btn-primary input-group-append">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <a class="nav-item nav-link" href="{{ BASE }}"><i class="fas fa-home"></i>Pocetna</a>
                        <a class="nav-item nav-link" href="{{ BASE }}categories"><i class="fas fa-list-ul"></i>Kategorije</a>
                        <a class="nav-item nav-link" href="{{ BASE }}user/profile"><i class="fas fa-user"></i>Profil</a>
                        <a class="nav-item nav-link" href="{{ BASE }}contact"><i class="fas fa-phone"></i>Kontakt</a>
                        <a class="nav-item nav-link" href="{{ BASE }}user/login"><i class="fas fa-sign-out-alt"></i>Login</a>
                        <a class="nav-item nav-link" href="{{ BASE }}user/log-out"><i class="fas fa-sign-out-alt"></i>Odjava</a>
                    </ul>
                </div>
            </nav>

        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>

        <div class="card bookmark-card">
            <div class="bookmarks card-body">
                Please wait, Loading bookmarks
            </div>
        </div>

        <footer class="site-footer text-center">
            &copy; 2018 - Aukcijska Kuca <a href=#>Ta and Ta - Kompanija</a>
        </footer>
    </div>

        <script>const BASE = '{{ BASE }}';</script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="{{ BASE }}assets/js/bookmark.js"></script>
    </body>
</html>