{% extends "_global/index.html" %}

{% block main %}
    <ul>
        {% for auction in auctions %}
        <li class="auction">
            <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-title">
                {{ auction.title|escape }}<br>
            </a>
            <span class="auction-date1">{{ auction.created_at|escape }}</span>
            <span class="auction-date2">{{ auction.exspires_at|escape }}</span>
            <span class="auction-price">{{ auction.starting_price|escape }} &euro;</span>

            <a href="{{ BASE }}auction/{{ auction.auction_id }}" class="auction-big-image">
                <img src="#" alt="Velika slika - {{ auction.auction_id }}"> 
            </a>
            <img src="#" alt="Mala slika 1 - {{ auction.auction_id }}" class="auction-small-image image-1">
            <img src="#" alt="Velika slika 1 - {{ auction.auction_id }}" class="auction-small-image image-2">
        {% endfor %}
    </ul>
{% endblock %}

{% block naslov %}
Rezultati pretrage
{% endblock %}