{% extends "_global/index.html" %}

{% block main %}
    <a href="#" onclick="addBookmark({{ auction.auction_id }})">Add to bookmark</a>
    <h1>{{ auction.title|escape }}</h1>
    <p>{{ auction.description }}</p>
    <p>Trenutna cena: {{ lastOfferPrice }} EUR</p>
    <p>Datum pocetka: {{ auction.starts_at|date('j. n. Y.') }} </p>
    <p>Datum isteka: {{ auction.ends_at|date('j. n. Y.') }} </p>
{% endblock %}

{% block naslov %}
{{ category.name|escape }}
{% endblock %}